 @import "./normalize.css"; 

body {
  color: #7c7cad;
}  

input,
button {
  outline: none;
  cursor: pointer;
  border: #ebebeb 1px solid;
  height: 27px;
  border-radius: 4px;
}

button {
  background-color: #ffffff;  
  color: #7c7cad;
}